<h1>Posts</h1>

<div>
  <%= link_to "+ Add Post", new_post_path %>
</div>

<div class="card-grid" data-behavior="sortable-cards" data-order-url="<%= order_posts_path %>">
  <%= render partial: "card", collection: @posts, as: :post %>
</ul>
