$brown-dark: hsla(320%, 10%, 18%, 1);
$teal: hsla(173%, 55%, 74%, 1);
$offwhite: hsla(154%, 30%, 95%, 1);
$offwhite: hsla(154%, 30%, 95%, 1);
$teal-dark: hsla(184%, 28%, 56%, 1);
$brown: hsla(16%, 13%, 39%, 1);
